:root {
    --bg-dark: hsl(319 100% 3%);
    --bg: hsl(315 100% 5%);
    --bg-light: hsl(314 100% 8%);
    --text: hsl(321 100% 99%);
    --text-muted: hsl(320 50% 73%);
    --highlight: hsl(314 72% 38%);
    --border: hsl(311 100% 21%);
    --border-muted: hsl(311 100% 13%);
    --primary: hsl(317 100% 73%);
    --secondary: hsl(163 100% 28%);
    --danger: hsl(7 100% 66%);
    --warning: hsl(53 100% 21%);
    --success: hsl(162 100% 22%);
    --info: hsl(217 100% 70%);

    --gradient: linear-gradient(180deg, var(--bg-light), var(--bg) 1em);
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

body {
    color: var(--text);
    background-color: var(--bg-dark);
    font-family: "Cascadia Code";
}

#title {
    margin: 0 2em 2em 2em;
}

#distro {
    color: var(--text-muted);
}

.element {
    display: flex;
    justify-content: space-between;
    background: var(--gradient);
    border: solid 1px var(--border-muted);
    border-top: 1px solid var(--border);
    border-radius: 1rem;
    margin: 1em;
    padding: 2em;
    box-shadow: var(--shadow);
}

.element-title {
    width: 30%;
    margin-right: 2em;
}

.element-label {
    color: var(--text-muted);
}

.graph {
    background: linear-gradient(var(--text-muted), var(--bg));
    height: 20%;
    width: 100%;
}

.disk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    align-items: center;
}

.disk-label-name {
    margin: 0;
    margin-right: 0.5em;
}

.disk-label-desc {
    color: var(--text-muted);
    margin: 0;
    margin-right: 0.5em;
}

.bar-outline {
    width: 50%;
    height: 20px;
    border: solid 1px var(--border-muted);
    border-radius: 1rem;
}

.bar-inside {
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, var(--bg), var(--text-muted) 200%);
    border-right: solid 1px var(--text-muted);
    border-radius: 1rem;
}

#disk-element {
    display: block;
}